.header {
    display: flex;
    align-items: center;
    height: 91px;
    background-color: #020203;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
    height: 60px;
    margin-right: 8%;
    margin-left: 29px;
}

ul {
    display: flex;
    justify-content: space-around;
    flex: 1;
    list-style-type: none;
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin: 0;
    padding-left: 0;
}

.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #020203;
    width: 117px;
    height: calc(100% - 91px);
    position: fixed;
}

.nav-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.icon {
    width: 64px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
    margin-bottom: 59px;
}

.main {
    margin-top: 68px;
    margin-left: 224px;
}

h1 {
    font-size: 48px;
    font-weight: 500;
}

.name {
    color: #FF0101;
}

p {
    font-size: 18px;
}

.container {
    width: 100%;
    max-width: 1126px;;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activity {
    width: 835px;
    height: 320px;
    background-color: #FBFBFB;
    border-radius: 5px;
    margin-bottom: 30px;
}

.container-performances {
    width: 835px;
    display: flex;
    justify-content: space-between;
}

.performances {
    width: 258px;
    height: 263px;
    background-color: #FBFBFB;
    border-radius: 5px;
    margin-bottom: 30px;
}

.container-performances-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.performances-details {
    width: 258px;
    height: 124px;
    background-color: #FBFBFB;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 0;
}

.performances-details-icon {
    width: 60px;
    margin: 32px 24px 32px 32px;
}