.header {
    display: flex;
    align-items: center;
    height: 91px;
    background-color: #020203;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
    height: 60px;
    margin-right: 8%;
    margin-left: 29px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    flex: 1;
    list-style-type: none;
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin: 0;
    padding-left: 0;
}

.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #020203;
    width: 117px;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
}

.nav-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.icon {
    width: 64px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
    margin-bottom: 59px;
}

.main {
    margin-top: 48px;
    margin-left: 15%;
}

h1 {
    font-size: 48px;
    font-weight: 500;
}

.name {
    color: #FF0101;
}

.congratulations {
    font-size: 18px;
}

.container {
    width: 100%;
    max-width: 1126px;;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 77px;
}

.background {
    background-color: #FBFBFB;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 258px;
    height: 263px;
}

.activity {
    width: 835px;
    height: 320px;
}

.container-results {
    width: 835px;
    display: flex;
    justify-content: space-between;
}

.container-results-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.results-details {
    display: flex;
    width: 258px;
    height: 124px;
}

.results-details-icon {
    width: 60px;
    height: 60px;
    margin: 32px 24px 32px 32px;
}

h3 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 4px;
}

p {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 0;
}

.lost {
    margin: 32px 24px 32px 0;
    align-self: center;
}

.legend-color {
    display: inline-block;
    color :#74798C;
    font-weight: 500;
    margin-left: 12px;
}

li.recharts-legend-item {
    margin-left: 32px;
}

h2 {
    margin-top: 24px;
    margin-left: 32px;
    position: absolute;
    font-size: 15px;
    font-weight: 500;
}

.tooltip-container {
    width: 39px;
    height: 63px;
    background-color: #E60000;
    color: white;
    font-weight: 500;
    text-align: center;
}

.tooltip-text {
    font-size: 7px;
    padding-top: 13px;
}

.average-sessions {
    background-color: #FF0000;
}

.performance {
    background-color: #282D30;
    font-size: 12px;
    color: white;
}

div.recharts-legend-wrapper {
    top: 20px;
}

.average-sessions-title {
    width: 147px;
    color: #FFFFFF;
    opacity: 0.5;
}

.tooltip-average-container {
    width: 39px;
    height: 25px;
    background-color: white;
}

.tooltip-average-text {
    font-size: 8px;
    font-weight: 500;
    text-align: center;
    padding-top: 7px;
}

@media only screen and (min-width : 1024px) and (max-width: 1366px) {
    .container-results-detail {
        width: 835px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .results-details {
        width: 200px;
        height: 124px;
    }

    .results-details-icon {
        margin: 32px 12px;
    }
}